<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="css/styleDash.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  </head>
  <body>

    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <img src="images/logo.png" width="50px" height="50px" id="head">
        <h3 class="titleText">Cloud Health</h3>
      </div>
    </header>
    <!--header area end-->
    <!--sidebar start-->
    <div class="sidebar" style="padding-top: 30px;">
      <center>
        <img src="images/download.jpg" class="profile_image" alt="">
        <h1></h1>
      </center>
      <a href="/dash"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="/history"><i class="fas fa-cogs"></i><span>Medical History</span></a>
      <a href="/appointment"><i class="fas fa-table"></i><span>Your Appointments</span></a>
      <a href="/account"><i class="fas fa-th"></i><span>Account</span></a>
      <a href="/logout"><i class="fas fa-info-circle"></i><span>Logout</span></a>
    </div>
    <!--sidebar end-->


    
    