<%- include("partials/sideNav.ejs") %>

<div class="container" style="padding: 10px">
    <div style="width:100%; text-align: center;">
        <h2>Welcome User, Your Booked Appointments will appear here</h2>
    </div>
</div>