<%- include("partials/sideNav.ejs") %>

<div class="content" style="padding: 10px">
    <div style="width:100%; text-align: center;">
        <h1>Under Maintenance</h1>
        <br>
        <img src="/images/worker.png" height="250" width="325
        " alt="">
    </div>
</div>