<%- include("partials/sideNav.ejs") %>
<!----------------------------------------------------PARTIAL------------------------------------------------------->
<div class="content" style="padding: 10px">
  <div class="notification is-success">

    <%if(user.username.includes("@cloudhealth")) {%>
      <p>Hello Doctor! How are you doing today?</p>
    <%} else {%> 
      <p>Welcome to Cloud Health, what can we do for you today?</p>
    <%}%>
  </div>
  <div class="tile is-ancestor">
    <%if(user.username.includes("@cloudhealth")) {%>
    <a class="tile is-parent" href="/appointment">
      <article class="tile is-child notification is-primary">
          <p class="title">Check Your Appointment</p>
          <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </article>
    </a>
    <%} else {%> 
      <a class="tile is-parent" href="/appointment">
        <article class="tile is-child notification is-primary">
          <p class="title">Book Appointments</p>
          <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
        </article>
      </a>
    <%}%>
        
      
    <%if(user.username.includes("@cloudhealth")) {%>
      <a class="tile is-parent" href="#">
        <article class="tile is-child box notification is-danger">
          <p class="title">View Your Patients</p>
          <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
        </article>
      </a>
    <%} else {%> 
      <a class="tile is-parent" href="/call ">
        <article class="tile is-child box notification is-danger">
          <p class="title">Call a Doctor</p>
          <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
        </article>
      </a>
    <%}%>
    <%if(user.username.includes("@cloudhealth")) {%>
        <a class="tile is-parent" href="#">
          <article class="tile is-child box notification is-warning">
            <p class="title">Tasks</p>
            <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
          </article>
        </a>
    <%} else {%> 
        <a class="tile is-parent" href="/documents">
          <article class="tile is-child box notification is-warning">
            <p class="title">Submit Medical Documents</p>
            <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
          </article>
        </a>
    <%}%>
  </div>
  <div class="tile is-ancestor">
    <a class="tile is-parent" href="/issue">
      <article class="tile is-child box notification is-info">
        <p class="title">Raise an Issue</p>
        <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </article>
    </a>
    <a class="tile is-parent" href="/feedback">
      <article class="tile is-child box">
        <p class="title">Feedback</p>
        <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </article>
    </a>
  </div>
</div>
  </body>
</html>


