<%- include("partials/sideNav.ejs") %>
<!----------------------------------------------------PARTIAL------------------------------------------------------->
<%console.log(user + "user")%>
<div class="content" style="padding: 10px">
  <div class="notification is-success">
    <p>Welcome to Cloud Health, what can we do for you today?</p>
  </div>
  <div class="tile is-ancestor">
    <a class="tile is-parent" href="/appointment">
      <article class="tile is-child notification is-primary">
        <p class="title">Book an Appointment</p>
        
        <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </article>
    </a>
    <a class="tile is-parent" href="/call">
      <article class="tile is-child box notification is-danger">
        <p class="title">Call a Doctor</p>
        <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </article>
    </a>
    <a class="tile is-parent" href="/medical">
      <article class="tile is-child box notification is-warning">
        <p class="title">Submit Medical Documents</p>
        <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </article>
    </a>
  </div>
  <div class="tile is-ancestor">
    <a class="tile is-parent" href="/issue">
      <article class="tile is-child box notification is-info">
        <p class="title">Raise an Issue</p>
        <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </article>
    </a>
    <a class="tile is-parent" href="/feedback">
      <article class="tile is-child box">
        <p class="title">Feedback</p>
        <p class="subtitle"><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </article>
    </a>
  </div>
</div>
<script type="text/javascript">
  this.addEventListener('scroll', function() {
    if(this.pageYOffset > 70){
        document.querySelector(".sidebar").style.top = "0px"        
    } else if (this.pageYOffset < 70) {
        document.querySelector(".sidebar").removeAttribute("style")
    }
  });
  if(this.outerWidth < 500){
      document.getElementById("check").checked = true
  }
  </script>
  </body>
</html>


